<div>
	<% with_actions_btns ||= false %>
	
	<% unless entry.blank? %>
	
	<article id="" class="fd-ui-tl-item">
		<span class="fd-ui-icon post"></span>
		<span class="fd-ui-tl-item-indic"></span>
		<header class="fd-ui-tl-item-hd">
			<span class="fd-ui-avt small default" style="background-image:url(<%= asset_path("ui/fd-ui-ux-sprite.png"); %>)"></span>
			<div id="" class="fd-ui-actions btns">
				<% ["share", "heart","star", "clip", "more"].each do |name| %>
				<i rel="tooltip" title="<%= name %>" class="fd-ui-icons icon-<%= name %> fd-ui-btn"></i>
				<% end %>
			</div>
		</header>
		
	<div id=""  class="fd-ui-tl-item-ct">
		<div id=""  class="fd-ui-tl-item-ct-el full-size">
			<hgroup class="fd-ui-tl-item-title">
				<h4>By <span class="author">Nathan Pitman</span> | <%= time_info entry.created_at %></h4>
				<h1><%= entry.title %></h1>
				<p class="details">
				
				<% unless entry.categories.blank? %>
					<% entry.categories.each do |category| %>
					<span class="fd-ui-cst-btn tag f-l"><%= category.name.to_s.capitalize %></span>
					<% end %>
				<% end %>

					<span class="fd-ui-cst-btn tag-style f-r">26 Comments →</span><span class="clear"></span>
				</p>
			</hgroup>
			<div class="fd-ui-item-ct-text">
				<%= simple_format (auto_link (entry.body)) unless entry.body.nil? %>
			</div>
		</div>

		<%#= render "shared/entry_extras_slot" %>
		
		<%#= render "shared/comments_slot" %>

		<%#= render "shared/show_more_slot" %>


		<%# ----------   Action buttons ------------  %>
		<% if with_actions_btns %>
		<div id=""  class="fd-ui-tl-item-ct-el full-bg">
			<%= link_to 'Edit', edit_entry_path(entry), :class => 'btn' %>
			<%= link_to 'Delete', 
			          entry_path(entry), 
			          :method => 'delete', 
			          :confirm => 'Are you sure?', 
			          :class => 'btn danger' %>
	      	<%= link_to 'Back', entries_path, :class => 'btn primary'  %>
	    </div>  
	    <% end %>
	</div>
	<footer class="fd-ui-tl-item-ft"></footer>
</article>
<% end %> 
