<h1>Entrys</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= link_to entry.title, entry_path(entry) %></td>
        <td><%= entry.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_entry_path(entry), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', entry_path(entry), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'add entry', new_entry_path, :class => 'btn btn-primary' %>
