<% date = Time.now.strftime("le %m %B %Y  à  %I:%M")  %>


<span class="fd_article_title">
  <span class="fd_article_info_mark fd_post_info_mark">
    <span class="fd_article-type-icon article"></span>
  </span>
  <span class="fd_article_info_title">
    <hgroup>
      <h3 class="">Se connecter / S'incrire </h3>
      
    </hgroup>
  </span>
</span>


<div class="fd_login">

  <section class="fd_login_image">
      <img src="../images/user-design.png" >
  </section>

  <%= simple_form_for ""  do |f| %>
  <section class="fd_login_input">
    <%= f.input :username, :label => false, :wrapper_html => { :class => 'fd_login_input_username'} %>
    <%= f.input :password, :label => false , :wrapper_html => { :class => 'fd_login_input_password'} %>
    <div class ="well">
      <a href="#sign_in_form" class="btn danger space_right-1">créer un compte</a>
      <input type="submit" class="btn primary  space_right-1" value="se connecter">
    </div>
  </section>
  <% end %>

  <section class="fd_login_input" id="sign_in_form">
    <%= render "layouts/section", :section_title => "ou créer un compte", :section_content => nil, :section_title_class => "red"   %>
      <%= simple_form_for ""  do |f| %>
        <%= f.input :username, :label => "nom", :wrapper_html => { :class => 'fd_login_input_standart'} %>
        <%= f.input :email,  :label =>  "prenom", :wrapper_html => { :class => 'fd_login_input_standart'} %>
        <%= f.input :password, :label =>  "mot de passe", :wrapper_html => { :class => 'fd_login_input_standart'} %>
        <div class ="well">
          <input type="submit" value="créer le compte" class="btn danger space_right-1">
          <input type="reset" class="btn primary  space_right-1" value="tout effacer">
        </div>
      </section>
      <% end %>
  </section>
</div>
