<% date = Time.now.strftime("le %m %B %Y  à  %I:%M")  %>

<article class="fd_tut_show row fd_post">
  <%= render "shared/actions_box" %>
  <div class="fd_tut_header span11">
    <span class="fd_tut_header_title">
      <span class="fd_tut_info_mark fd_post_info_mark">
        <span class="post-type-icon article"></span>
      </span>
      <span class="fd_tut_info_title">
        <hgroup>
          <h3 class="">Quick Tip: Collision Reaction Between a Circle and a Line </h3>
          <h7 class="fd_tut_subtitle"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span><span class="fd_tut_date"><%= date   %></span></h7>
        </hgroup>
      </span>
    </span>
    
  </div>
  <div class="fd_tut_content span11">
    <!-- <div class="fd_tut_video">
      <iframe width="640" height="404" src="http://www.youtube.com/embed/lzc-p6uvkOE" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <div class="fd_post_image">
      <span class="fd-post-image-wrapper bkg-x-ray"></span>
    </div>
    <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
     <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
    <div class="fd_post_social">
    </div>
    <span class="divider"></span>
  </div>
</article>
<span class="clear"></span>

<% date = Time.now.strftime("le %m %B %Y  à  %I:%M")  %>

<article class="fd_tut_show row fd_post">
  <%= render "shared/actions_box" %>
  <div class="fd_tut_header span11">
    <span class="fd_tut_header_title">
      <span class="fd_tut_info_mark fd_post_info_mark">
        <span class="post-type-icon music"></span>
      </span>
      <span class="fd_tut_info_title">
        <hgroup>
          <h3 class="">Quick Tip: Collision Reaction Between a Circle and a Line </h3>
          <h7 class="fd_tut_subtitle"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span><span class="fd_tut_date"><%= date   %></span></h7>
        </hgroup>
      </span>
    </span>
    
  </div>
  <div class="fd_tut_content span11">
    <!-- <div class="fd_tut_video">
      <iframe width="640" height="404" src="http://www.youtube.com/embed/lzc-p6uvkOE" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <div class="fd_post_image">
      <span class="fd-post-image-wrapper bkg-x-ray"></span>
    </div>
    <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
     <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
    <div class="fd_post_social">
    </div>
    <span class="divider"></span>
  </div>
</article>
<span class="clear"></span>

<% date = Time.now.strftime("le %m %B %Y  à  %I:%M")  %>

<article class="fd_tut_show row fd_post">
  <%= render "shared/actions_box" %>
  <div class="fd_tut_header span11">
    <span class="fd_tut_header_title">
      <span class="fd_tut_info_mark fd_post_info_mark">
        <span class="post-type-icon update"></span>
      </span>
      <span class="fd_tut_info_title">
        <hgroup>
          <h3 class="">Quick Tip: Collision Reaction Between a Circle and a Line </h3>
          <h7 class="fd_tut_subtitle"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span><span class="fd_tut_date"><%= date   %></span></h7>
        </hgroup>
      </span>
    </span>
    
  </div>
  <div class="fd_tut_content span11">
    <!-- <div class="fd_tut_video">
      <iframe width="640" height="404" src="http://www.youtube.com/embed/lzc-p6uvkOE" frameborder="0" allowfullscreen></iframe>
    </div> -->
    <div class="fd_post_image">
      <span class="fd-post-image-wrapper bkg-x-ray"></span>
    </div>
    <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
     <p>
      In the previous Quick Tips, we’ve looked at collision detection – essentially, detecting that two shapes have overlapped. Now, we’re ready to look at collision reaction: making something happen due to a collision. In this Quick Tip, we’ll look at the reactions of reflection and sliding. 
    </p>
    <div class="fd_post_social">
    </div>
    <span class="divider"></span>
  </div>
</article>
<span class="clear"></span>
