<% date = Time.now.strftime("le %m %B %Y  à  %I:%M")  %>

<li>
  <section class="fd_tut_show row intermediate">
    <%= render "shared/actions_box" %>
    <div class="fd_tut_header span11">
      <span class="fd_tut_header_title">
        <span class="fd_tut_info_mark">
          <span class="red large-bande">+50</span>
          <span class="red large-corner-right"></span>
        </span>
        <span class="fd_tut_info_title">
          <hgroup>
            <h3 class="">Les designs patterns en HTML/CSS</h3>
            <h7 class="fd_tut_subtitle"><span class="label notice">Mobile</span><span class="label hard lowercase"> iOS</span><span class="fd_tut_date"><%= date   %></span></h7>
          </hgroup>
        </span>
      </span>
      
    </div>
    <div class="fd_tut_content span11">
      <div class="fd_tut_video">
        <iframe width="640" height="404" src="http://www.youtube.com/embed/lzc-p6uvkOE" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <span class="clear"></span>
  <% 
    details  = "In broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. If the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide.\nIn broad strokes, this involves deciding what should be sent as the response and calling an appropriate method to create that response. If the response is a full-blown view, Rails also does some extra work to wrap the view in a layout and possibly to pull in partial views. You’ll see all of those paths later in this guide."
    details = simple_format(details)
    
    buttons  = '<div class ="actions"><span class="btn primary space_right-1">valider</span>' \
            + '<span class="btn info space_right-1">supprimer</span>' \
            + '<span class="btn space_right-1">supprimer</span>' \
            + '<span class="btn error space_right-1">supprimer</span>' \
            + '<span class="btn">annuler</span></div>'
    buttons = buttons.html_safe
    
    follow  = '<div class ="fd_follow"><span class="fd_follow_action on space_right-1"></span><span class="fd_follow_action space_right-1"></span></div>'
    follow = follow.html_safe
    
    
    
  %>
  <br/>
  <%= render "layouts/section", :section_title => "description", :section_content => [{:section_subtitle =>"", :section_details => details}]     %>
  <%= render "shared/modal" %>
  <%= render "layouts/section", :section_title => "quizz", :section_content => [{:section_subtitle =>"", :section_details => raw(
    render("shared/poll") + buttons) }], :section_title_class => "blue"   %>
   <%= render "layouts/section", :section_title => "reagissez", :section_class => "no-margin", :section_content =>[{:section_subtitle =>"", :section_details => render("shared/comment_form")}] , :section_title_class => "red"   %>
  <%= render "layouts/section", :section_title => "vos commentaires des autres", :section_class => "no-margin", :section_content =>[{:section_subtitle =>"", :section_details => render("shared/comment_section")}] , :section_title_class => "black"   %>
 
</li>
