<% content_for :fd_content_left do %>
  <%= render "shared/pagination_bar" %>
  <br>
  <%= render "shared/user_profile" %>
  <span class="clear"></span>
  <br>
  <ul class="fd_tuts">
    <%= render "tuts/tut_display" %>
  </ul>
   <ul class="fd_tuts">
    <%= render "tuts/tut_li" %>
  </ul>
  <br>
  <ul class="fd-ui-list">
    <% 3.times do %>
    <li class="fd-ui-list-item grippy">Rapide: inscrivez-vous (ou connectez-vous) & démarrez</li>
    <li class="fd-ui-list-item grippy">Efficace: une méthode scientifique</li>
    <li class="fd-ui-list-item grippy">Gratuit: Des centaines de leçons disponibles</li>
    <% end %>
  </ul>
  <br>
  <%= render "shared/comment_section" %>


<% end %>

<% content_for :fd_content_right do %>
  <%= render "layouts/sidebar" %>
<% end %>
