%h1 Listing tuts
%table
  %tr
    %th Title
    %th Description
    %th Duration
    %th Category
    %th Slug
    %th
    %th
    %th
  - @tuts.each do |tut|
    %tr
      %td= tut.title
      %td= tut.description
      %td= tut.duration
      %td= tut.category
      %td= tut.slug
      %td= link_to 'Show', tut
      %td= link_to 'Edit', edit_tut_path(tut)
      %td= link_to 'Destroy', tut, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Tut', new_tut_path
