%p#notice= notice
%p
  %b Title:
  = @tut.title
%p
  %b Description:
  = @tut.description
%p
  %b Duration:
  = @tut.duration
%p
  %b Category:
  = @tut.category
%p
  %b Slug:
  = @tut.slug
= link_to 'Edit', edit_tut_path(@tut)
|
\#{link_to 'Back', tuts_path}
