<!DOCTYPE html>
<html lang="fr">
<head>
  <title>First-developer</title>
  <meta name="keywords" content="tutoriels, tutorials" />
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
 
</head>
<body>

  <div id="header" class="fd_header">
    <div class="fd_header_content bkg-ray ">
      <%= render "layouts/top_bar" %>
      <div class="container">
        <div class="row fd_centerBar ">
        
          <%# fd logo %>
          <div class="span6">
            <%= render "layouts/logo" %>
          </div>
          <%# / fd logo %>
          
          <%# user_status %>
          <div class="span10">
            <%= render "layouts/user_status" %>
          </div>
          <%# / user_status %>
          
        </div>
      </div>
      
      <%# menu nav bar %>
      <%= render "layouts/menu_nav_bar" %>
      <%# / menu nav bar %>
      
    </div>
  </div>

