<% section_title ||= nil  %>          
<% is_expandable ||= false %>
<% section_id ||= '' %>
<% section_class ||= '' %>
<% section_title_class ||= 'black' %>
<% section_subtitle_class ||= 'black' %>
<% section_content ||= nil %>


<% unless section_title.nil?  %>
<section id ="<%= section_id %>"class="fd_section <%= section_class %>">
  <h3 class="fd_section_title  <%= section_title_class %> ">
    <%= section_title.capitalize %><span class="<%= is_expandable ? 'expandable' : 'no-expandable' %>"></span>
  </h3>
  <div class="fd_section_content">
    <% unless section_content.blank? %>
      <% section_content.each do |content| -%>
        <% unless content[:section_subtitle].blank? %>
        <h4 class="fd_section_subtitle  <%= section_subtitle_class %>">
          <%= raw(content[:section_subtitle]) %>
        </h4>
        <% end %>
        <div class="fd_section_details">
          <%= raw(content[:section_details]) %>
        </div>
        <span class="clear divider"></span>
      <% end -%>
    <% end %>
  </div>
</section>
<% end %>
