<% section_title ||= nil  %>          
<% is_expandable ||= false %>
<% section_id ||= '' %>
<% section_class ||= '' %>
<% section_title_class ||= 'black' %>
<% section_subtitle_class ||= 'black' %>
<% section_subtitle ||= nil  %> 
<% section_details ||= nil %>


<% unless section_title.nil? %>
<section id ="<%= section_id %>"class="fd_section <%= section_class %>">
  <h3 class="fd_section_title  <%= section_title_class %> ">
    <%= section_title.capitalize %><span class="<%= is_expandable ? 'expandable' : 'no-expandable' %>"></span>
  </h3>
  <div class="fd_section_content">
    <% unless section_subtitle.nil? %>
    <h4 class="fd_section_subtitle  <%= section_subtitle_class %>">
      <%= section_subtitle.capitalize %>
    </h4>
    <% end %>
    <div class="fd_section_details">
      <%= section_details %>
    </div>
  </div>
</section>
<% end %>
