<%= render "layouts/header" %> 

<div id="content" class="fd_content container">
  <div class ="row">
    <%# fd_content_top %>
    <div class="fd_content_top span16">
      <%= yield  :fd_content_top %>
      
      <%# Notifications display %>
      <div id="fd_notifications">
      	<%= render "shared/flash_message" %>
        <div class="fd_user_notice">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
      </div>
      <%# / Notifications display %>    
    </div>
    <%# / fd_content_top %>
  </div>
  <div class="row">  
    <%# fd_content_left %>
    <div class="fd_content_left span11">
      <%= yield  :fd_content_left %>
    </div>
    <%# / fd_content_left %>
    
    <%# fd_content_right %>
    <div class="fd_content_right span5 ">
       <%= yield  :fd_content_right %>
    </div>
    <%# / fd_content_right %>
  </div>
  <div class="row">
    <%# fd_content_bottom %>
    <div class="fd_content_bottom span16">
       <%= yield  :fd_content_bottom %>
    </div>
    <%# / fd_content_bottom %>
  </div>  
</div>
<%= render "shared/loader" %>
<%= render "layouts/footer" %> 

