
<%# 
=======================================
	Page Header
=======================================
%>
<%= render "layouts/header" %>

<%#= render "shared/modal" %>


<%# 
=======================================
	Page Container
=======================================
%>
<div  class="fd-ui-container">
	<%# 
	---------------------------------------   
		Sidebar navigation   
	---------------------------------------
	%>
	<div id="fd-ui-sidebar-left">
		<%= render "layouts/sidebar" %>
	</div>


	<div id="fd-ui-center" >
		<%# 
		---------------------------------------   
			Toolbar
		---------------------------------------
		%>
		<%= render "layouts/toolbar" %>

		<%# 
		---------------------------------------   
			Timeline
		---------------------------------------
		%>
		<div class="timeline">

			<%= yield %>
			
		</div>
	</div>
	

	<%# 
	---------------------------------------   
		Sidebar my profile  
	---------------------------------------
	%>
	<div id="fd-ui-sidebar-right2">
		<%= render "layouts/sidebar_infos" %>
	</div>
	
</div>


<%# 
=======================================
	Page Footer
=======================================
%>
<%= render "layouts/footer" %>
