<%= render "layouts/header" %>

<div class="fd-ui-container">
	<div id="fd-ui-sidebar-left">
		<%= render "layouts/sidebar" %>
	</div>
	<div id="fd-ui-center" >
		<div  class="">
			<%= yield %>
		</div><!-- / -->
	</div>
	<div id="fd-ui-sidebar-right1">
		<%= render "layouts/sidebar_infos" %>
	</div>
	<div id="fd-ui-sidebar-right2">
		<%= render "layouts/sidebar_infos" %>
	</div>
</div>


<%= render "layouts/footer" %>
